.content-wrapper{
	width: 100%;
	height: 100%;	
	margin: 35px 50px;
}

.bg{
	width: 100%;
	height: 100%;
	z-index: 1;
}
.bg-slide1{
	// &.active{
		background-color: yellow;
	// }
}
// .bg-slide2{
// 	background-color: green;
// }
// .bg-slide3{
// 	background-color: blue;
// }

.letters-wrapper{
	width: 100%;
	height: 100%;


	.letters{
		font-family: "brandon-grotesque",sans-serif;
		font-size: 18rem;
		text-transform: uppercase;
		font-weight: 700;
		color: #e96f63;
	}
	.flip{
		-webkit-transform:rotate(-180deg);
		-moz-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	}

}


.slide1 img{
	width: 50%;
	z-index: 3;
}