.content-wrapper{
	width: 100%;
	height: 100%;	
	overflow-x: hidden;
	overflow-y: auto;
}

.slide{
	width: 100vw;
	height: 100vh;
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.pattern{
	background-image: url(../img/bg-tileable.png);
	background-repeat: repeat-x;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: .5;
}

.letters-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
	overflow: hidden;


	.letters{
		font-family: Helvetica, sans-serif;
		font-size: 33vh;
		text-transform: uppercase;
		font-weight: 700;
		color: #e96f63;
	}
	.flip{
		display: flex;
		justify-content: flex-end;
		-webkit-transform:rotate(-180deg);
		-moz-transform:rotate(-180deg);
		-o-transform:rotate(-180deg);
		transform:rotate(-180deg);
		filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	}

}


.slide1{
	opacity: 0;
	&.active{
		opacity: 1;
		.bg-slide1{
			background-color: #faf09a;
		}
		.person{
			position: absolute;
			right: 50%;
			bottom: 0;
			transform: translate(-50% -50%);
			max-width: 28%;
			z-index: 4;
		}
	}
}




.slide2{
	opacity: 0;
	&.active{
		opacity: 1;
		.bg-slide2{
			background-color: #49efa3;
		}
		.pattern{
			filter:sepia(100%);
		}
		.person{
			position: absolute;
			right: 50%;
			bottom: -60px;
			max-width: 40%;
			z-index: 4;
		}

	}
}
.slide3{
	opacity: 0;
	&.active{
		opacity: 1;
		.bg-slide3{
			background-color: blue;
		}
	}
}

.info{
	position: absolute;
	bottom: 15%;
	right: 20%;
	z-index: 4;
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: space-between;
	img{
		width: 32px;
		height: 32px;
		margin: 80px 60px;
	}

}

.blackbox{
	background-color: #000;
	color: #fff;
	width: 70%;
	text-align: center;
	transform: rotate(-20deg);
	margin-left: -18%;
	margin-bottom: -5%;
	padding: 8px 0;
	text-transform: uppercase;
}

.whitebox{
	background-color: #fff;
	color: #000;
	text-transform: uppercase;
	padding: 30px;
	font-weight: bold;
	max-width: 400px;
	white-space: nowrap;

	p{
		font-size: 1.5rem;
	}

	span{
		font-size: 2.5rem;
	}
}





