$breakpoint-mobile: 768px;

.content-wrapper{
	width:100%;
	overflow: hidden;
}

.box-wrapper{
	display: none;
	&.active{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		position: relative;
		transition: .5s;

		.box-container{
			position: relative;
			// transition: .5s;
		
			.box{
				// display: flex;
				position: relative;
				overflow: hidden;
				background-color: transparent;
				width: 300px;
				height: 700px;
				margin: 60px 10px 0 10px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-bottom: 2px solid red;
				cursor: pointer;
				transition: .5s;

				img{
					// height: 90%;
					position: absolute;
					// top: 42px;
					// left: 55%;
					height: 100%;
					top: 0;
					left: 0;

				}

			}
			
			.box1 img{
				// transform: translateX(-47%);
			
			}
			.box2, .box3, .box4 {
				display: none;
			}
			.box2 img{
				transform: translateX(-52%);
			
			}
			.box3 img{
				transform: translateX(-71%);
			
			}
			.box4 img{
				transform: translateX(-47%);
				top: 69px;
			
			}
			.text-wrapper{
				display: flex;
				flex-direction: row;
				margin: 20px 10px 0 10px;
				width: 300px;
				transition: .5s;
				
			}	
			.text{
				display: flex;
				width: 300px;
				height: 30px;
				font-size: 1rem;
				text-transform: uppercase;
			}
			span{
				font-weight: bold;
				// margin-left: 80px;
				justify-content: space-between;
			}
		}
	}
}

.box1{
	// background-image: url(../img/shop-image2.png);
}
.box2{
	background-image: url(../img/shop-image1.png);
}
.box3{
	background-image: url(../img/shop-image3.png);
}
.box4{
	background-image: url(../img/shop-image4.png);
}

.selection-container{
	display: flex;
    opacity: 0;
    position: absolute;
    top: 25%;
    
    overflow: hidden;


	&.active{
		opacity: 1;
		flex-direction: row;
		width:100%;
		// margin: 60px;
		@media (max-width: $breakpoint-mobile) {
			flex-direction: column;
		}
		.col-half{
			// display: flex;
			width: 50%;
			@media (max-width: $breakpoint-mobile) {
				width: 100%;
			}
			.swatches{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				@media (max-width: $breakpoint-mobile) {
					display: none;

				}
				.swatch{
					background-color: red;
					width: 100px;
					height: 100px;
					margin-bottom: 20px;
					background-repeat: no-repeat;
					background-size: cover;
				}
			}
		}

		// .product-images{
		// 	flex-direction: row;
		// 	padding-left: 10%;
		// 	@media (max-width: $breakpoint-mobile) {
		// 		flex-direction: column;
		// 	}
		// 	.product-image{
		// 		max-width: 50%;
		// 		margin-right: 40px;
		// 	}

			
		// }

		.product-details{
			display: flex;
			flex-direction: row;
			justify-content: center;

				
			.title-wrapper{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 20px;

				.product-title{
					font-size: 1.5rem;
					font-weight: bold;
				}
				.product-price{
					font-size: 1rem;
				}

			}
			.product-description{
				margin-bottom: 20px;
			}
			.details{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 20px;

				h2{
					text-transform: uppercase;
					font-weight: bold;
				}
			}
			.button-wrapper{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;

				button{
					background-color: #000;
					color: #fff;
					padding: 10px;
					font-family: "brandon-grotesque",sans-serif;
					font-size: 1rem;
					border: none;
				}
			}
		}
	}
}



@media (max-width: $breakpoint-mobile) {
	.content-wrapper{
		padding-bottom: 100px;

	}

}
























