@import 'reset';
@import 'content';
@import 'hamburger';
@import 'hidden-content';

@import url("https://use.typekit.net/qbn4jnk.css");
$breakpoint-mobile: 768px;

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

html, body {
	background-color: #ccc;
	width: 100%;
	height: 100%;
	font-family: "brandon-grotesque",sans-serif;
}

.logo{
	position: fixed;
	top: 0;
	left: 80px;
	width: 100px;
	z-index: 102;
}
#top, #bottom, #left, #right {
	background: white;
	position: fixed;
	z-index: 100;
	img{
		max-width: 20px;
		max-height: 20px;
		margin-bottom: 20px;
	}
}

// @media (max-width: $breakpoint-mobile) {
// 	#top, #bottom, #left, #right {
// 		display: none;
// 	}
// }

#left, #right {
	top: 0; 
	bottom: 0;
	width: 50px;
	z-index: 101;

}

#left { 
	left: 0; 
	border-right: 1px solid gray;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	section{
		display: flex;
		flex-direction: column;
		align-items: center;
		
	}
	.mobile-bag-icon{
		display: none;
	}
	img{
		z-index: 99999;
	}

	a{
		
	}
}

#right { 
	right: 0; 
	border-left: 1px solid gray;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	img{
		width: 14px;
		margin-top: 10px;
	}
}	

#top, #bottom {
	left: 0; 
	right: 0;
	height: 35px;
}
#top { 
	top: 0; 
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-right: 80px;
	img, p{
		margin-right: 20px;
	}
	p{
		text-transform: uppercase;
		font-size: .75rem;
	}
	img{
		width: 14px;
		margin-top: 18px;
	}
}

#bottom { 
	bottom: 0; 
}






